.box-bg:hover {
  background-color: #87cefa;
}
.tm-box-bg-title:hover {
  font-weight: bold;
  color: white;
}
.text-xs-center::first-letter,
.tm-section-description::first-letter,
.tm-banner-text::first-letter {
  color: #87cefa;
  font-size: 30px;
}
p::first-letter {
  font-size: 30px;
}
.tm-main-nav,
.tm-content-box,
.blocks {
  box-shadow: 1px 1px 10px 0px rgba(61, 55, 61, 0.7);
}
.tm-banner-inner {
  border: gray;
  outline: 30px solid #f4f4f4;
}
.flex-2-col {
  display: flex;
  align-items: center;
}
section {
  position: relative;
}
section::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 240px 0 0;
  border-color: #87cefa transparent transparent transparent;
}
.carousel-content .tm-section-title {
  color: gainsboro;
  letter-spacing: 5px;
}
h2 + p {
  font-style: italic;
}
section:first-of-type p {
  text-indent: 1.5em;
  /* text-align: left; */
  /* font-style: italic; */
  line-height: 1.7;
}
div.padding-medium a:visited {
  border-bottom-color: white;
}
div.padding-medium a:visited {
  border-bottom-color: black;
}
/* a:visited {
  text-decoration: underline;
} */
.box:nth-child(2n) {
  background-color: #f4f4f4;
}
/* .img-fluid {
  padding: 10px;
}
.img-fluid + div {
  padding: 10px;
} */
.box-work {
  padding: 10px;
}
.mandatory-field::after {
  content: "*";
  color: red;
}
button {
  float: right;
  background-color: transparent;
}
div#contact button {
  background-color: transparent;
  border-radius: 0;
  border-color: #87cefa;
  padding: 0.375rem 2rem;
  color: #87cefa;
}
div#contact button:hover {
  background-color: #87cefa;

  border-color: #87cefa;

  color: white;
}
.tm-nav-item-link:hover {
  background-color: #f4f4f4;
}
ol li a {
  text-decoration: none;
  color: #000;
}
ol li a:visited {
  text-decoration-color: #000;
}
a.text::after {
  content: "New";
  position: absolute;
  vertical-align: super;
  font-size: 0.75em;
  color: red;
}
ol li a:hover {
  color: #87cefa;
  text-decoration-color: unset;
  text-decoration-line: underline;
  text-decoration-style: double;
}
@media print {
  .tm-sidebar,
  .blocks,
  #about,
  .heading,
  .blocks,
  #ideas,
  .img-contact-us,
  #contact {
    display: none;
  }
  .tm-banner-inner {
    border: 1px solid gray;
    outline: none;
  }
  section::before {
    display: none;
  }
  .flex-item img {
    width: 150px;
    height: 150px;
    text-align: center;
  }
  .tm-team-description-container {
    max-width: 350px;
  }
  .flex-2-col {
    display: flex;
    justify-content: space-around;
  }
}
